
pictures/Thumbs.db
pictures/Thumbs.db
*.db
/HW/VER3mini/USBgpib-USBTMC-V3mini/__Previews
/HW/VER3mini/USBgpib-USBTMC-V3mini/History
/HW/VER3mini/USBgpib-USBTMC-V3mini/Project Logs for USBgpib-USBTMC-V3mini
/HW/History
/HW/Project Logs for USBgpib-USBTMC-V3mini
/HW/Project Outputs for USBgpib-USBTMC-V3mini
/HW/Project Outputs for USBgpib-USBTMC-V3mini
/HW/Project Outputs for USBgpib-USBTMC-V3mini
/HW/Project Outputs for USBgpib-USBTMC-V3mini
HW/Project Outputs for USBgpib-USBTMC-V3mini/Design Rule Check - USBgpib-V3-USBTMC.drc
HW/Project Outputs for USBgpib-USBTMC-V3mini/Design Rule Check - USBgpib-V3-USBTMC.html
