
pictures/Thumbs.db
pictures/Thumbs.db
*.db
/HW/VER3mini/USBgpib-USBTMC-V3mini/__Previews
/HW/VER3mini/USBgpib-USBTMC-V3mini/History
/HW/VER3mini/USBgpib-USBTMC-V3mini/Project Logs for USBgpib-USBTMC-V3mini
